In [20]:
import pandas as pd
import numpy as np

In [21]:
crime_raw_data = pd.read_csv('../data2/02. crime_in_Seoul.csv', thousands=',', encoding='euc-kr')
crime_raw_data

        구분   죄종 발생검거     건수
0       중부   살인   발생    2.0
1       중부   살인   검거    2.0
2       중부   강도   발생    3.0
3       중부   강도   검거    3.0
4       중부   강간   발생  141.0
...    ...  ...  ...    ...
65529  NaN  NaN  NaN    NaN
65530  NaN  NaN  NaN    NaN
65531  NaN  NaN  NaN    NaN
65532  NaN  NaN  NaN    NaN
65533  NaN  NaN  NaN    NaN

[65534 rows x 4 columns]

In [22]:
crime_raw_data = crime_raw_data[crime_raw_data['죄종'].notnull()]
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [23]:
crime_raw_data.tail()

     구분  죄종 발생검거      건수
305  수서  강간   검거   144.0
306  수서  절도   발생  1149.0
307  수서  절도   검거   789.0
308  수서  폭력   발생  1666.0
309  수서  폭력   검거  1431.0

---

# Pivot_table 사용하기

In [24]:
crime_station = crime_raw_data.pivot_table(
    crime_raw_data, 
    index='구분', 
    columns=['죄종','발생검거'], 
    aggfunc=[np.sum]
)
crime_station.head()

        sum
         건수
죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

In [25]:
crime_station.columns

MultiIndex([('sum', '건수', '강간', '검거'),
            ('sum', '건수', '강간', '발생'),
            ('sum', '건수', '강도', '검거'),
            ('sum', '건수', '강도', '발생'),
            ('sum', '건수', '살인', '검거'),
            ('sum', '건수', '살인', '발생'),
            ('sum', '건수', '절도', '검거'),
            ('sum', '건수', '절도', '발생'),
            ('sum', '건수', '폭력', '검거'),
            ('sum', '건수', '폭력', '발생')],
           names=[None, None, '죄종', '발생검거'])

In [26]:
crime_station['sum', '건수','강도','검거'][:5]

구분
강남    26.0
강동    13.0
강북     4.0
강서    10.0
관악    10.0
Name: (sum, 건수, 강도, 검거), dtype: float64

In [27]:
crime_station.columns=crime_station.columns.droplevel([0,1])        # 다중 컬럼에서 특정 컬럼 제거
crime_station.head()

죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

In [29]:
crime_station.index

Index(['강남', '강동', '강북', '강서', '관악', '광진', '구로', '금천', '남대문', '노원', '도봉',
       '동대문', '동작', '마포', '방배', '서대문', '서부', '서초', '성동', '성북', '송파', '수서',
       '양천', '영등포', '용산', '은평', '종로', '종암', '중랑', '중부', '혜화'],
      dtype='object', name='구분')