In [1]:
import pandas as pd
from glob import glob

In [5]:
len(glob('../oil_station/지역_*.xls')), glob('../oil_station/지역_*.xls')

(25,
 ['../oil_station\\지역_위치별(주유소) (1).xls',
  '../oil_station\\지역_위치별(주유소) (10).xls',
  '../oil_station\\지역_위치별(주유소) (11).xls',
  '../oil_station\\지역_위치별(주유소) (12).xls',
  '../oil_station\\지역_위치별(주유소) (13).xls',
  '../oil_station\\지역_위치별(주유소) (14).xls',
  '../oil_station\\지역_위치별(주유소) (15).xls',
  '../oil_station\\지역_위치별(주유소) (16).xls',
  '../oil_station\\지역_위치별(주유소) (17).xls',
  '../oil_station\\지역_위치별(주유소) (18).xls',
  '../oil_station\\지역_위치별(주유소) (19).xls',
  '../oil_station\\지역_위치별(주유소) (2).xls',
  '../oil_station\\지역_위치별(주유소) (20).xls',
  '../oil_station\\지역_위치별(주유소) (21).xls',
  '../oil_station\\지역_위치별(주유소) (22).xls',
  '../oil_station\\지역_위치별(주유소) (23).xls',
  '../oil_station\\지역_위치별(주유소) (24).xls',
  '../oil_station\\지역_위치별(주유소) (3).xls',
  '../oil_station\\지역_위치별(주유소) (4).xls',
  '../oil_station\\지역_위치별(주유소) (5).xls',
  '../oil_station\\지역_위치별(주유소) (6).xls',
  '../oil_station\\지역_위치별(주유소) (7).xls',
  '../oil_station\\지역_위치별(주유소) (8).xls',
  '../oil_station\\지역_위치별(주유소) (9).xls',
  '../oil_station\\지역_위치별(주유소).xls'])

In [6]:
stations_files = glob('../oil_station/지역_*.xls')
stations_files

['../oil_station\\지역_위치별(주유소) (1).xls',
 '../oil_station\\지역_위치별(주유소) (10).xls',
 '../oil_station\\지역_위치별(주유소) (11).xls',
 '../oil_station\\지역_위치별(주유소) (12).xls',
 '../oil_station\\지역_위치별(주유소) (13).xls',
 '../oil_station\\지역_위치별(주유소) (14).xls',
 '../oil_station\\지역_위치별(주유소) (15).xls',
 '../oil_station\\지역_위치별(주유소) (16).xls',
 '../oil_station\\지역_위치별(주유소) (17).xls',
 '../oil_station\\지역_위치별(주유소) (18).xls',
 '../oil_station\\지역_위치별(주유소) (19).xls',
 '../oil_station\\지역_위치별(주유소) (2).xls',
 '../oil_station\\지역_위치별(주유소) (20).xls',
 '../oil_station\\지역_위치별(주유소) (21).xls',
 '../oil_station\\지역_위치별(주유소) (22).xls',
 '../oil_station\\지역_위치별(주유소) (23).xls',
 '../oil_station\\지역_위치별(주유소) (24).xls',
 '../oil_station\\지역_위치별(주유소) (3).xls',
 '../oil_station\\지역_위치별(주유소) (4).xls',
 '../oil_station\\지역_위치별(주유소) (5).xls',
 '../oil_station\\지역_위치별(주유소) (6).xls',
 '../oil_station\\지역_위치별(주유소) (7).xls',
 '../oil_station\\지역_위치별(주유소) (8).xls',
 '../oil_station\\지역_위치별(주유소) (9).xls',
 '../oil_station\\지역_위치별(주유소).xls']

In [17]:
tmp = pd.read_excel(stations_files[0], header=2)
tmp.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),현대오일뱅크,02-487-2030,Y,-,1872,1952,-
1,서울특별시,방아다리주유소,서울 강동구 동남로 811 (명일동),SK에너지,02-442-5145,Y,-,1915,1995,1700
2,서울특별시,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),GS칼텍스,02-426-5372,Y,-,1925,2016,-
3,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1935,1987,-
4,서울특별시,현대오일뱅크㈜직영 명일셀프주유소,서울 강동구 고덕로 168 (명일동),현대오일뱅크,02-3428-1739,Y,2198,1956,1961,-

In [18]:
tmp_raw=[]
for file_name in stations_files:
    tmp = pd.read_excel(file_name, header= 2)
    tmp_raw.append(tmp)     # DataFrame이 list에 저장됨.

station_raw = pd.concat(tmp_raw)        # 구조가 동일한 DataFrame은 list 형태로 묶어서 concat 하면 된다.

In [19]:
station_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 455 entries, 0 to 33
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      455 non-null    object
 1   상호      455 non-null    object
 2   주소      455 non-null    object
 3   상표      455 non-null    object
 4   전화번호    455 non-null    object
 5   셀프여부    455 non-null    object
 6   고급휘발유   455 non-null    object
 7   휘발유     455 non-null    object
 8   경유      455 non-null    object
 9   실내등유    455 non-null    object
dtypes: object(10)
memory usage: 39.1+ KB

In [21]:
station_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),현대오일뱅크,02-487-2030,Y,-,1872,1952,-
1,서울특별시,방아다리주유소,서울 강동구 동남로 811 (명일동),SK에너지,02-442-5145,Y,-,1915,1995,1700
2,서울특별시,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),GS칼텍스,02-426-5372,Y,-,1925,2016,-
3,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1935,1987,-
4,서울특별시,현대오일뱅크㈜직영 명일셀프주유소,서울 강동구 고덕로 168 (명일동),현대오일뱅크,02-3428-1739,Y,2198,1956,1961,-

In [22]:
stations = pd.DataFrame(
    {
        '상호' : station_raw['상호'],
        '주소' : station_raw['주소'],
        '가격' : station_raw['휘발유'],
        '셀프' : station_raw['셀프여부'],
        '상표' : station_raw['상표'],
    }
)
stations.head()

                     상호                            주소    가격 셀프      상표
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1872  Y  현대오일뱅크
1               방아다리주유소          서울 강동구 동남로 811 (명일동)  1915  Y   SK에너지
2        지에스칼텍스㈜ 동서울주유소        서울 강동구 천호대로 1456 (상일동)  1925  Y   GS칼텍스
3                구천면주유소         서울 강동구 구천면로 357 (암사동)  1935  N  현대오일뱅크
4     현대오일뱅크㈜직영 명일셀프주유소          서울 강동구 고덕로 168 (명일동)  1956  Y  현대오일뱅크

In [23]:
stations['구'] = [eachAddress.split()[1] for eachAddress in stations['주소']]
stations.head()

                     상호                            주소    가격 셀프      상표    구
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1872  Y  현대오일뱅크  강동구
1               방아다리주유소          서울 강동구 동남로 811 (명일동)  1915  Y   SK에너지  강동구
2        지에스칼텍스㈜ 동서울주유소        서울 강동구 천호대로 1456 (상일동)  1925  Y   GS칼텍스  강동구
3                구천면주유소         서울 강동구 구천면로 357 (암사동)  1935  N  현대오일뱅크  강동구
4     현대오일뱅크㈜직영 명일셀프주유소          서울 강동구 고덕로 168 (명일동)  1956  Y  현대오일뱅크  강동구

In [24]:
stations[
'구'
].unique()      # 강서구 , 강서

array(['강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구', '강서구',
       '강서', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '강남구'],
      dtype=object)

In [25]:
len(stations['구'].unique())

26

In [30]:
stations[stations['구'] == '강서']

               상호             주소 가격 셀프     상표   구
32  오션(주) 서울식물원지점  서울 강서 양천구 300  -  Y  SK에너지  강서

In [31]:
stations.loc[stations['구'] == '강서', '구'] = '강서구'
stations['구'].unique()

array(['강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구', '강서구',
       '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '강남구'], dtype=object)

In [33]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 455 entries, 0 to 33
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      455 non-null    object
 1   주소      455 non-null    object
 2   가격      455 non-null    object
 3   셀프      455 non-null    object
 4   상표      455 non-null    object
 5   구       455 non-null    object
dtypes: object(6)
memory usage: 24.9+ KB

In [36]:
# stations['가격'] = stations['가격'].astype('float')

In [38]:
stations[stations['가격'] == '-']       # 가격정보가 없는 주유소가 있음

                   상호                       주소 가격 셀프      상표     구
30     지에스칼텍스(주)내곡주유소           서울 서초구 헌릉로 210  -  N   GS칼텍스   서초구
27              한일주유소  서울 영등포구 도림로 486 (문래동3가)  -  N   SK에너지  영등포구
16              삼융주유소     서울 은평구 수색로 299 (수색동)  -  N   SK에너지   은평구
8     현대오일뱅크㈜직영 재동주유소      서울 종로구 율곡로 58 (경운동)  -  N  현대오일뱅크   종로구
10    지에스칼텍스(주)직영 역전점             서울 중구 퇴계로 15  -  N   GS칼텍스    중구
32      오션(주) 서울식물원지점            서울 강서 양천구 300  -  Y   SK에너지   강서구
14       대성산업(주)구의주유소    서울 광진구 광나루로 570 (구의동)  -  N   GS칼텍스   광진구
15  지에스칼텍스 (주)구의스타주유소           서울 광진구 자양로 103  -  N   GS칼텍스   광진구
19           서서울고속주유소     서울 구로구 경인로 150 (오류동)  -  N   GS칼텍스   구로구

In [39]:
stations = stations[stations['가격'] != '-']        # 가격 정보가 있는 곳만 가져옴
stations.head()

                     상호                            주소    가격 셀프      상표    구
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1872  Y  현대오일뱅크  강동구
1               방아다리주유소          서울 강동구 동남로 811 (명일동)  1915  Y   SK에너지  강동구
2        지에스칼텍스㈜ 동서울주유소        서울 강동구 천호대로 1456 (상일동)  1925  Y   GS칼텍스  강동구
3                구천면주유소         서울 강동구 구천면로 357 (암사동)  1935  N  현대오일뱅크  강동구
4     현대오일뱅크㈜직영 명일셀프주유소          서울 강동구 고덕로 168 (명일동)  1956  Y  현대오일뱅크  강동구

In [41]:
stations['가격'] = stations['가격'].astype('float')
stations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 446 entries, 0 to 33
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      446 non-null    object
 1   주소      446 non-null    object
 2   가격      446 non-null    float64
 3   셀프      446 non-null    object
 4   상표      446 non-null    object
 5   구       446 non-null    object
dtypes: float64(1), object(5)
memory usage: 24.4+ KB

In [42]:
stations

                      상호                            주소      가격 셀프      상표    구
0   재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1872.0  Y  현대오일뱅크  강동구
1                방아다리주유소          서울 강동구 동남로 811 (명일동)  1915.0  Y   SK에너지  강동구
2         지에스칼텍스㈜ 동서울주유소        서울 강동구 천호대로 1456 (상일동)  1925.0  Y   GS칼텍스  강동구
3                 구천면주유소         서울 강동구 구천면로 357 (암사동)  1935.0  N  현대오일뱅크  강동구
4      현대오일뱅크㈜직영 명일셀프주유소          서울 강동구 고덕로 168 (명일동)  1956.0  Y  현대오일뱅크  강동구
..                   ...                           ...     ... ..     ...  ...
29               제이제이주유소                서울 강남구 언주로 716  2398.0  N  현대오일뱅크  강남구
30                 대청주유소          서울 강남구 개포로 654 (일원동)  2399.0  N   SK에너지  강남구
31               갤러리아주유소               서울 강남구 압구정로 426  2493.0  N   SK에너지  강남구
32               SK논현주유소          서울 강남구 논현로 747 (논현동)  2541.0  N   SK에너지  강남구
33        (주)만정에너지 삼보주유소         서울 강남구 봉은사로 433 (삼성동)  2598.0  N   GS칼텍스  강남구

[446 rows x 6 columns]

# 인덱스 번호 초기화

In [43]:
stations.reset_index(inplace=True)
stations.head()

,index,상호,주소,가격,셀프,상표,구
0,0,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),1872.0,Y,현대오일뱅크,강동구
1,1,방아다리주유소,서울 강동구 동남로 811 (명일동),1915.0,Y,SK에너지,강동구
2,2,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),1925.0,Y,GS칼텍스,강동구
3,3,구천면주유소,서울 강동구 구천면로 357 (암사동),1935.0,N,현대오일뱅크,강동구
4,4,현대오일뱅크㈜직영 명일셀프주유소,서울 강동구 고덕로 168 (명일동),1956.0,Y,현대오일뱅크,강동구

In [45]:
del stations['index']
stations

,상호,주소,가격,셀프,상표,구
0,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),1872.0,Y,현대오일뱅크,강동구
1,방아다리주유소,서울 강동구 동남로 811 (명일동),1915.0,Y,SK에너지,강동구
2,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),1925.0,Y,GS칼텍스,강동구
3,구천면주유소,서울 강동구 구천면로 357 (암사동),1935.0,N,현대오일뱅크,강동구
4,현대오일뱅크㈜직영 명일셀프주유소,서울 강동구 고덕로 168 (명일동),1956.0,Y,현대오일뱅크,강동구
...,...,...,...,...,...,...
441,제이제이주유소,서울 강남구 언주로 716,2398.0,N,현대오일뱅크,강남구
442,대청주유소,서울 강남구 개포로 654 (일원동),2399.0,N,SK에너지,강남구
443,갤러리아주유소,서울 강남구 압구정로 426,2493.0,N,SK에너지,강남구
444,SK논현주유소,서울 강남구 논현로 747 (논현동),2541.0,N,SK에너지,강남구
445,(주)만정에너지 삼보주유소,서울 강남구 봉은사로 433 (삼성동),2598.0,N,GS칼텍스,강남구

In [46]:
stations.to_csv('../oil_station/oil_station_final.csv', sep=',', encoding='utf-8')

In [47]:
stations.to_excel('../oil_station/oil_station_final.xlsx', encoding='utf-8')