# 구별로 구분한 엑셀파일 불러오기

In [1]:
import pandas as pd

In [13]:
draw_korea_raw = pd.read_excel('../data_08/07_draw_korea_raw.xlsx')
draw_korea_raw.style.highlight_null('blue')

## stack() : 각 지역별 위치 나타내기

In [14]:
draw_korea_raw_stacked = pd.DataFrame(draw_korea_raw.stack())
draw_korea_raw_stacked

            0
0  7       철원
   8       화천
   9       양구
   10  고성(강원)
1  3       양주
...       ...
24 2       장흥
   3       보성
25 2       완도
   5       제주
26 5      서귀포

[252 rows x 1 columns]

#### index reset

In [15]:
draw_korea_raw_stacked.reset_index(inplace=True)
draw_korea_raw_stacked

     level_0  level_1       0
0          0        7      철원
1          0        8      화천
2          0        9      양구
3          0       10  고성(강원)
4          1        3      양주
..       ...      ...     ...
247       24        2      장흥
248       24        3      보성
249       25        2      완도
250       25        5      제주
251       26        5     서귀포

[252 rows x 3 columns]

In [16]:
draw_korea_raw_stacked.rename(
    columns={'level_0' : 'y', 'level_1' : 'x', 0:'ID'}, inplace=True
)
draw_korea_raw_stacked

      y   x      ID
0     0   7      철원
1     0   8      화천
2     0   9      양구
3     0  10  고성(강원)
4     1   3      양주
..   ..  ..     ...
247  24   2      장흥
248  24   3      보성
249  25   2      완도
250  25   5      제주
251  26   5     서귀포

[252 rows x 3 columns]

In [17]:
draw_korea = draw_korea_raw_stacked

### 시군구별 경계선

In [18]:
BORDER_LINES = [
    [(5,1), (5,2), (7,2), (7,3), (11, 3), (11,0)],      # 인천
    [(5,4), (5,5), (2,5), (2,7), (4,7), (4,9), (7,9), (7,7), (9,7), (9,5),
    (10,5), (10,4), (5,4),],    # 서울
    [(1,7), (1,8), (3,8), (3,10), (10,10), (10,7), (12,7),
    (12,6), (11,6), (11,5), (12,5), (12,4), (11,4), (11,3),],   # 경기도
    [(8,10), (8,11), (6,11), (6,12)], # 강원도
    [(12,5), (13,5), (13,4), (14,4), (14,5), (15,5), (15,4), (16,4), (16,2),],  # 충청북도
    [(16,4), (17,4), (17,5), (16,5), (16,6), (19,6), (19,5), (20,5), (20,4), (21,4), (21,3), (19,3), (19,1),],  # 전라북도
    [(13,5), (13,6), (16,6)],
    [(13,5), (14,5)],        # 대전시, 세종시
    [(21,2), (21,3), (22,3), (22,4), (24,4), (24,2), (21,2)],   # 광주
    [(20,5), (21,5), (21,6), (23,6)],   # 전라남도
    [(10,8), (12,8), (12,9), (14,9), (14,8), (16,8), (16,6)],   # 충청북도
    [(14,9), (14,11), (14,12), (13,12), (13,13)],   # 경상북도
    [(15,8), (17,8), (17,10), (16,10), (16,11), (14,11)],   # 대구
    [(17,9), (18,9), (18,8), (19,8), (19,9), (20,9), (20,10), (21,10)], #부산
    [(16,11), (16,13)],
    [(27,5), (27,6), (25,6)],
]